.enter-div{
    width:600px;
    margin: 150px auto;
    background-color: var(--color-register-div);
     /* #222327; */
    color: var(--color-font);
     /* #fff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap:10px;
}
.regular-btn{
    width:300px;
    background: var(--color-load-more);
     /* #AAAAAA; */
}
.other-btn{
    width:300px;
    background: var(--color-other-btn);
     /* #99D9EA; */
}
#enter-btn,
#register-btn{
    color: var(--color-font);
     /* #fff; */
    border: none;
    padding: 10px ;
    border-radius: 10px;
}
.fieldGroup{
    width: 300px;
    display: flex;
    justify-content: space-between;
}
input{
    height:30px
}
.line{
    height:3px;
    width:100%;
    background-color: var(--color-font);
     /* #fff; */
}
@media all and (max-width: 600px){
    .enter-div{
        width:90%;
    }

}
