.register-div{
    width:600px;
    margin: 150px auto;
    background-color: var(--color-register-div);
     /* #222327; */
    color:  var(--color-font);
    /* #fff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.regular-btn{
    width:300px;
    background: var(--color-load-more);
     /* #AAAAAA; */
}
.other-btn{
    width:300px;
    background: var(--color-other-btn);
     /* #99D9EA; */
}
#register-btn,
#homePage-btn{
    color: var(--color-font);
     /* #fff; */
    border: none;
    padding: 10px ;
    border-radius: 10px;
    margin: 3px;
}
.fieldGroup{
    display: flex;
    justify-content: space-between;
}
input{
    height:30px
}
.register-div h1{
    margin-bottom: 10px;
}
@media all and (max-width:650px){
   .register-div{
                width:90%;
            }
}
