.genresList{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-x: auto;
    color: #fff;
    margin-top:100px;
    flex-wrap: nowrap;
    
}
.list-group-item{
    background-color: var(--app-background-app-holder);
     /* #303030; */
    color:var(--color-font);
     /* #fff; */
    border: 1px solid var(--color-font);
     /* #fff; */
    padding: 10px 10px;
    text-align: center;
    cursor: pointer;
    width:100px;
}
.genresList .li{
    padding: 10px;
    border: 1px solid #fff;
}
.list-group .active{
    background-color: aliceblue;
    color: var(--background-color);
     /* #000; */
}
.allGenresMovies{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:20px;   
}
.genreList{
    margin-top: 80px;
    width:17%;
    margin-left: 30px;
}
.filmPart{
    width:83%;
    margin: 60px auto;
}
.filmBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
    /* overflow: hidden; */
    gap:20px;
} 
.filmBox  li{
    width: 14.5%;
    padding: 15px 15px;
}
.filmBox  li img{
    border-radius: 10px;
    height:250px;
    width: auto;
}
.filmBox .genreTitle{
    padding-left: 15px;   
}
.filmBox .genreTitle, 
.filmBox  .singleMovie{
    color: var(--color-font);
     /* #fff; */
}
.filmBox  .singleMovie:hover{
    color: var(--color-hover);
    /* #FFC90E; */
}
.filmBox  .singleMovie h4{
    width:170px;
    text-align: center;
}
.filmBox  .singleMovie .movieImageHolder{
    position: relative;
    /* padding: 20px; */
}
.filmBox  .singleMovie .movieImageHolder .movieShade{
          position:absolute;
          top:0;
          right:0;
          color: var(--color-font);
          /* #FFFFFF; */
          opacity: 0;
          visibility: hidden;
          background-color: var(--background-color);
           /* #000000; */
          padding-right: 10px;
          width:100%;
          height:100%;
          transition: all 1s;  
}
.filmBox  .singleMovie .movieImageHolder:hover .movieShade{
          opacity:0.8;
          visibility: visible;
          transition:all 1s;
        }
.filmBox  .singleMovie .movieImageHolder .movieShade .shadeInfo{
    position: absolute;
    bottom: 0;
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 20px;
}     
.filmBox  .singleMovie .movieImageHolder .movieShade .shadeInfo li{
    width:100%;
    padding: 0 0 5px 5px;
}
.regular-btn{    
    width:300px;
    background: var(--color-load-more);
     /* #AAAAAA; */
    color:  var(--color-font);
     /* #fff; */
    border: none;
    padding: 10px ;
    border-radius: 10px;
    cursor: pointer;
}
.regular-btn:hover{ 
    color: var(--color-hover);
     /* #FFC90E; */
}
@media all and (max-width: 1400px){
    /* .filmPart{
        width:90%;
        margin-left: 50px;
        margin-right: 30px;
    } */
    .filmBox  li{
        width: 18%;        
    }
}

@media all and (max-width: 1200px){
    .filmPart{
        width:70%;
     }    
    .filmBox  li{
        width: 23%;
    } 
}

@media all and (max-width: 1110px){
    .filmPart{
        width:80%;
        margin-left: 100px;
     }    
     .filmBox  li{
        width: 27%;
    }
}

@media all and (max-width: 930px){
    .filmPart{
        width:70%;
        margin-left: 140px;
        padding: 10px;
     }    
     .filmBox  li{
        width: 40%;
    }
}

@media all and (max-width: 780px){
    .filmPart{
        margin-left: 70px;
        padding: 10px;
     }
     .filmBox  li{
        width: 45%;
    }
}

@media all and (max-width: 600px){
    .filmPart{
        margin-left: 120px;
        padding: 10px;
     }
    .filmBox  li{
        width: 50%;
    }
       
}
     
    
    /* .genreList{
      visibility: hidden;
      display: none;
    } */
    /* .filmPart{
        width:100%;
     }     */
/* } */

/* @media all and (min-width:800px){
    .filmBox{
    height:500px !important;
    margin-bottom: 50px;
    }
} */
/* @media all and (min-width:1400px){
    .filmPart{
        width:60%;
    }
    .filmBox  li{
        width: 20%;
    }
} */



