.footer{    
    background: var(--background-color);
     /* #000; */
    height:40px;
    padding: 10px 0;
    color: var(--color-font);
    width:100%;
    position: fixed;
    bottom:0;
    left:0;
    z-index: 2;
} 
.footer .bottomMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:20px;    
}
.footer .bottomMenu .socailMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--color-font);
     /* #fff; */
    gap:20px;
    margin-right: 40px;
    background: var(--background-color);
     /* #000; */
}
.footer .bottomMenu  .optionMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    gap:20px;
}
.footer .bottomMenu a{
    color: var(--color-font);
}
.footer .bottomMenu a:hover{
    color: var(--color-hover);
     /* #FFC90E; */
}
@media all and  (max-width: 1400px) {  
    .footer .bottomMenu{
        margin: 0 10px;
    }    
 }
 

