.content{
    width:100%;
    padding: 0;
    margin: 0;
}
.content .genreFilmList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap:20px;
    margin-bottom: 70px;
}
.content .genreFilmList .singleGenreFilmList{
    width:45%;
}
.content .buttonHolder{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
}
.content .buttonHolder .load-more{
    cursor: pointer;    
    width:300px;
    background: #AAAAAA;
    color: #fff;
    border: none;
    padding: 10px ;
    border-radius: 10px;
}
.content .buttonHolder .load-more:hover{
    color: #FFC90E;
}
@media all and (max-width:1320px){
    .content .genreFilmList{
        gap:0;
    }    
    .content .genreFilmList .singleGenreFilmList{
       width:70%;
    }
}
@media all and (max-width:860px){
    .content .genreFilmList .singleGenreFilmList{
       width:80%;
    }
}
@media all and (max-width:760px){
    .content .genreFilmList .singleGenreFilmList{
       width:100%;
    }
}
@media all and (max-width:660px){
   .content{
    margin-top: 50px;
   }
}
