.header{    
    background: var(--background-color);
      /* #000; */
    padding: 5px 0;
    color: #fff; 
    position: fixed;
    top:0;
    left:0;
    width:100%;  
    z-index: 2;
}
.header .topMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
}
.header .topMenu a{
    color: var(--color-font);
     /* #fff; */
}
.header .topMenu .filmMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.header .topMenu .filmMenu a:hover{
    color: var(--color-hover);
    /* #FFC90E; */
}
.header .topMenu .filmMenu img{
    width:80px;
    height:30px;
}
.header .topMenu .accountMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
.header .topMenu .accountMenu .login{
    border: solid #fff 1px;
    padding: 5px 10px;
    border-radius: 10px;
}
.header .topMenu .accountMenu .login:hover{
    color:var(--background-color);
    /* #000; */
    background: var(--color-font);
     /* #fff; */
    border-radius: 10px;
    padding: 5px 10px;
}
.header .topMenu .filmMenu .searchPart{    
    position: relative;
}
.header .topMenu .filmMenu .searchPart .searchBox{
    border-radius: 15px;
    padding: 0 10px;
}
.header .topMenu .filmMenu .searchPart .searchResult{
    position: absolute;
    top:30px;
    left:0px;
    text-align: center;
    background: var(--color-search-result);
     /* #A7AAAD; */
    width: 100%; 
    max-width: 250px;  
    overflow-y: auto;
    max-height:90vh;
}
/* .header .topMenu .filmMenu .searchPart .searchResult::-webkit-scrollbar{
    background-color: #5E5E5E;
} */
.header .topMenu .filmMenu .searchPart .searchResult :nth-child(1){
    margin-top: 7px;
}
.header .topMenu .filmMenu .searchPart .searchResult .eachReply img{
    object-fit: cover;
    height:60px;
    width:auto;
}
.header .topMenu .filmMenu .searchPart .searchResult .eachReply p{
    margin: 5px 0;
}
/* @media all and (max-width: 1465px){
    .topMenu{
        margin-right: 2px;
        margin-left: 2px;
    }
} */
@media all and (max-width: 660px) {
    .header .topMenu{
        flex-wrap: wrap;
        justify-content: center;
        gap:10px;        
        margin-bottom: 10px;
    }
    .header .topMenu .filmMenu{
        flex-wrap: wrap;
        justify-content: center;
    }
    .accountMenu{
        width:100%;
    }
  } 