.holderAppDownload{
    height:300px;
    border-radius: 10px;
    margin: 50px auto;
    background: #303030;
    position: relative;
    color: #fff;
    padding: 15px;  
    display:flex;
    flex-direction: column;
}
.holderAppDownload .downloadPart{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap:15px;
    flex-wrap: nowrap;
}
.holderAppDownload .downloadPart div{
    padding:5px;
    border-radius: 10px;
    background-color: #37383E;
}
.holderAppDownload .downloadPart a{
    text-decoration: none;
    color: #fff;
}
.holderAppDownload .downloadPart div img{
    width:40px;
    height:40px;
}
.holderAppDownload .downloadPart .ax-matn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3px;
}
.holderAppDownload .downloadPart .matn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3px;
}
.holderAppDownload .downloadPart .matn h4{
    margin: 0;
}

  

