.appDownload .holderAppDownload{
    height:300px;
    border-radius: 10px;
    margin: 50px auto;
    background: #303030;
    position: relative;
    color: #fff;
    padding: 15px;  
    display:flex;
    flex-direction: column;
}
.appDownload .holderAppDownload .downloadPart{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap:10px;
    flex-wrap: nowrap;
}
.appDownload .holderAppDownload .downloadPart div{
    padding:5px;
    border-radius: 10px;
    background-color: #37383E;
}
.appDownload .holderAppDownload .downloadPart a{
    text-decoration: none;
    color: #fff;
}
.appDownload .holderAppDownload .downloadPart div img{
    width:40px;
    height:40px;
}
.appDownload .holderAppDownload .downloadPart .ax-matn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3px;
}
.appDownload .holderAppDownload .downloadPart .matn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3px;
}
.appDownload .holderAppDownload .downloadPart .matn h4{
    margin: 0;
}
@media all and (max-width:540px){
    .appDownload .holderAppDownload .downloadPart{
        gap:5px;
        padding: 0;
    }
    
    .appDownload .holderAppDownload .downloadPart .matn{
        margin:0;
        padding: 0;
    }
}

  

