.notFound  img{
    width:100%;
    background-size: cover;
}

@media all and (max-width:1000px){
    .notFound {
        margin-top: 100px;
    }
}
@media all and (max-width:660px){
    .notFound {
        margin-top: 150px;
    }
}
